<h2 [textContent]="isLoginPage ? 'Login page!' : 'Registration page!'"></h2>

<div *ngIf="(hint$ | async) as hint" class="hint">
    <span class="hint__text">{{hint}}</span>
    <button 
        mat-icon-button color="primary" 
        aria-label="Close hint"
        (click)="closeHint()"
    >
        <mat-icon>close</mat-icon>
    </button>
</div>

<mat-card class="auth-form-card">
    <mat-form-field class="auth-form-card--field">
        <mat-label>Enter email</mat-label>
        <input matInput [(ngModel)]="email">
    </mat-form-field>

    <mat-form-field class="auth-form-card--field">
        <mat-label>Enter password</mat-label>
        <input matInput [(ngModel)]="password">
    </mat-form-field>

    <ng-container *ngIf="isLoginPage">
        <button mat-raised-button color="primary" (click)="login()">Login</button>
    </ng-container>

    <ng-container *ngIf="!isLoginPage">
        <button mat-raised-button color="primary" (click)="registration()">Registration</button>
    </ng-container>
</mat-card>