<h2 [textContent]="isLoginPage ? 'Login page!' : 'Registration page!'"></h2>

<mat-card class="auth-form-card">
    <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="auth-form-card__field">
            <mat-label>Enter email</mat-label>
            <input matInput formControlName="email">
            <mat-error>Enter correct email!</mat-error>
        </mat-form-field>

        <mat-form-field class="auth-form-card__field">
            <mat-label>Enter password</mat-label>
            <input matInput formControlName="password" type="password">
        </mat-form-field>

        <ng-container *ngIf="isLoginPage; else registrationForm">
            <button mat-raised-button color="primary" [disabled]="!authForm.valid">Login</button>
        </ng-container>
    
        <ng-template #registrationForm>
            <button mat-raised-button color="primary" [disabled]="!authForm.valid">Registration</button>
        </ng-template>
    </form>
</mat-card>
