<h2 [textContent]="isLoginPage ? 'Login page!' : 'Registration page!'"></h2>

<mat-card class="auth-form-card">
    <mat-form-field class="auth-form-card--field">
        <mat-label>Enter email</mat-label>
        <input matInput [(ngModel)]="email">
    </mat-form-field>

    <mat-form-field class="auth-form-card--field">
        <mat-label>Enter password</mat-label>
        <input matInput [(ngModel)]="password" type="password">
    </mat-form-field>

    <ng-container *ngIf="isLoginPage; else isRegistrationPage">
        <button mat-raised-button color="primary" (click)="login()">Login</button>
    </ng-container>

    <ng-template #isRegistrationPage>
        <button mat-raised-button color="primary" (click)="registration()">Registration</button>
    </ng-template>
</mat-card>